@model VKAnalyzer.BusinessLogic.CohortAnalyser.Models.SalesActivitiesRetargetResult


@{
    ViewBag.Title = "Результаты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Когортный анализ продаж группы @Model.GroupId</h2>

    <div>
        <table class="table table-responsive table-bordered">
            <tr>
                @foreach (var result in Model.Results)
                {
                    <th>
                        <table>
                            <tr>
                                <th>@result.Date</th>
                            </tr>
                            @foreach (var value in result.Values)
                            {
                                <tr>
                                    <th>
                                        <a href="@string.Format("https://vk.com/feed?w=wall-{0}_{1}", value.PostId, Model.GroupId)" target="_blank">Пост</a>
                                    </th>
                                    <th>@value.Result</th>
                                </tr>
                            }
                        </table>
                    </th>
                }
            </tr>
        </table>
    </div>