@model List<VKAnalyzer.Models.VKModels.AffinityIndex.AffinityIndexResultsViewModel>
    @{
        ViewBag.Title = "Список результатов";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>АффинитиИндекс: список результатов</h2>

<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Название</th>
            <th>Дата аггрегации</th>
            <th>Ссылка на детальный просмотр</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <th>
                    @result.Name
                </th>
                <th>
                    @result.DateOfCollection.ToString("dd-MM-yyyy HH:mm")
                </th>
                <th>
                    @Html.ActionLink("Результаты", "Result", "AffinityIndex", new { id = result.Id }, null)
                </th>
            </tr>
        }
    </tbody>
</table>

