
@{
    ViewBag.Title = "Анализ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваш запрос отправлен на обработку</h2>
<p>
    Вы можете посмотреть результаты своих запросов по @Html.ActionLink("ссылке", "ListOfResults", "Vk").
</p>