@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mad Marketing</h1>
    <p class="lead">Лучший партнёр для продвижения вашего бизнеса.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Глубокий анализ ситуации</h2>
        <p>
            Аналитика для нас - это не набор красивых графиков. Это наша философия - подходить ко всему с математической точностью.
        </p>
        <p>
            На вопрос "А что дальше?" у нас всегда есть ответ.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Прозрачность</h2>
        <p>
            Мы подключим Вас к нашему планировщику задачи и Вы всегда будете в курсе всех событий. Календарный план-график будет у Вас всегда под рукой.
        </p>
        <p>
            И никакого испорченного телефона через аккаунт менеджера. Вы будете общаться напрямую со специалистами.
        </p>
    </div>
</div>