
@{
    ViewBag.Title = "Сервисы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Доступные сервисы</h2>
<h3>
    Вконтакте
</h3>
<table class="table table-responsive table-bordered">
    <tbody>
        <tr>
            <th>
                @Html.ActionLink("Когортный анализ активностей", "Index", "Vk")
            </th>
            <th>
                <p>
                    Когортный анализ активности позволит Вам наглядно продемонстрировать активность новых пользователей в выбранном вами паблике или группе.
                </p>
            </th>
        </tr>
        <tr>
            <th>
                @Html.ActionLink("Когортный анализ продаж", "Index", "SalesAnalysis")
            </th>
            <th>
                <p>
                    Когортный анализ продаж.
                </p>
            </th>
        </tr>
        @*<tr>
            <th>
                @Html.ActionLink("Анализатор мемасов", "Index", "Memology")
            </th>
            <th>
                <p>
                    Анализатор мемасов.
                </p>
            </th>
        </tr>*@
        <tr>
            <th>
                @Html.ActionLink("Аффинити индекс", "Index", "AffinityIndex")
            </th>
            <th>
                <p>
                    Аффинити индекс.
                </p>
            </th>
        </tr>
    </tbody>
</table>

